<div class="col-lg-12">
  <div class="card mt-5">
    <div class="card shadow-sm p-3 bg-white rounded">
      <div class="row">
        <h2 class="text-center" style="color: blue;">Search Train</h2>
        <div class="col-lg-12">
          <%= render "shared/search_form", q: @q, url: 'search_result' %>
        </div>
      </div>
    </div>
  </div>
</div>