<div class="col-lg-12">
  <div class="card mt-5">
    <div class="card shadow-sm p-3 bg-white rounded">
      <div class="row">
        <h2 class="text-center" style="color: blue;">Search Train</h2>
        <div class="col-lg-12">
          <%= render "shared/search_form", q: @q, url: 'home/search_result' %>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5 mb-5">
    <div class="card shadow-sm p-3 bg-white rounded">
      <div class="row">
      <h2 class="text-center" style="color: seagreen;">Results</h2>
      <table class= "table table-bordered table-hover mt-3 mb-7">
        <thead>
          <tr>
            <th class="table-info text-center">Name</th>
            <th class="table-info text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @trains.each do |train| %>
          <tr>
            <td><%= train.name %></td>
            <td class="text-center"><%= link_to 'View', train, class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>