<div class="col-lg-12">
  <div class="card mt-5">
    <div class="card shadow-sm p-3 bg-white rounded">
      <div class="row">
        <h2 class="text-center" style="color: blue;">Search Train</h2>
        <div class="col-lg-12">
          <%= render "shared/search_form", q: @q, url: 'home/search_result' %>
        </div>
      </div>
    </div>
  </div>

  <% @trains.each do |train| %>
    <div class="card mt-5 mb-5">
      <div class="card shadow-sm p-3 bg-white rounded">
        <p class="lead"><%= train.name %></p>
        <p class="lead">Starting From:<%= train.start_time.strftime("%H:%M %p") %></p>
        <p class="lead">End:<%= train.end_time.strftime("%H:%M %p") %></p>
      </div>
    </div>
  <% end %>
</div>